.aside_li{
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
    margin: 5px 0;
    a{
        color: #595959;
        &:hover{
            cursor: pointer;
            color: #19be91;
        }
    }
    .active{
        color: #19be91;
    }
}
.aside_title{
    margin-top: 30px;
    height: 56px;
    line-height: 56px;
    // display: inline-block;
    color: #fff;
    width: 100%;
    font-size: 18px;
    text-align: center;
    background: #19be91;
    border-radius: 6px 6px 0 0;
}
.aside_list{
    background: #fff;
    border-radius: 0 0 6px 6px;
}
.aside-parent-ul{
    display: inline-block
}
.aside-ul{
    // display: inline-block;
    width: 100%;
    list-style: none;
    color: #fff;
    margin: 0;
    padding: 0;
    & li{
        // margin: 0;
        // margin-top: 7px;
        // padding: 0;
        margin-top: 5px;
        cursor:pointer;
        position: relative;
    }
    & li a{
        color: #666;display: block;position:relative;
         &:before{
        content: '';
        display: inline-block;
        height: 4px;
        width: 4px;
        position: absolute;
        background-color: #666;
        border-radius: 50%;
        top: 40%;
        padding-left: -8px;
        left: -11px;      
    }
    }
}
.aside-parent-title{
    height: 30px;
    line-height: 30px;
    background-color: #eeeeee; 
    padding: 0 15px 0 15px;
    border-radius: 5px;    
    &:hover{
        background-color: #e8f8f4;
        a:hover{
         color: #2dcc9b
        }
    }
    & a{
        display: block
    }
    &:active{
        background-color: #e8f8f4;
    }
}
.aside-parent-li{
    padding-left: 10px;
}
.aside-child-li{
    // list-style-type: initial;
    color: #666;
    &:hover{
        a{
             color: #2dcc9b;
        }
         color: #2dcc9b;
    }
}
.aside-child-ul{
    padding-left:35px;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 1.2s ease-out -0.5s;
}
.aside-child-ul__active{
    max-height: 500px;
    animation:asideAnimate 1s ease-in;
}

@keyframes asideAnimate{
    from{
        max-height: 0
    }
    to{
        max-height: 500px;
        transition: max-height 
    }
}
.aside__active{
     color: #2dcc9b !important
}